{% extends "base.html" %}
{% load sizeof_fmt %}

    {% block content %}
      
{% include "header_title.html" %}

      {% include "breadcrumbs.html" %}
      
      <h3>
        {{ fnode.visibleName }}
      </h3>
        
        <table class="table">
          <tr><td><strong>File Size:</strong></td><td>{{ fnode.fileSize | sizeof_fmt }}</td></tr>
          <tr><td><strong>Created On:</strong></td><td>{{ fnode.createdOn | date:'r' }}</td></tr>
          <tr><td><strong>Last Modified:</strong></td><td>{{ fnode.lastModified | date:'r' }}</td></tr>
          <tr><td><strong>UUID:</strong></td><td>{{ fnode.nodeID }}</td></tr>
          <tr><td><strong>SHA-256 HMAC:</strong></td><td>{{ fnode.fileSignature }}</td></tr>
          <tr><td><strong>MIME Type:</strong></td><td>{{ fnode.mimeType }}</td></tr>
          <tr><td><strong>Backup Mirror:</strong></td><td>
            <a href="https://app.box.com/s/uw8keex3k0j7d98gy0ha" target="_blank">https://app.box.com/s/uw8keex3k0j7d98gy0ha</a>
            &nbsp;(<a href="">About mirrored files</a>)
          </td></tr>
          <tr><td><strong>Rename:</strong></td><td>
            <form role="form" action="{% url 'rename' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="node_ID" value="{{ fnode.nodeID }}" />
              <div class="input-group">
                <input type="text" class="form-control" name="new_name" value="{{ fnode.visibleName }}"/>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Rename</button>
                </span>
              </div>
            </form>
          </td></tr>
          <tr><td><strong>Move</strong></td><td>
            <form role="form" class="form-inline" action="{% url 'move' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="node_ID" value="{{ fnode.nodeID }}" />
              <div class="form-group">
                <select class="form-control" name="target_ID">
                  {% for tgs in move_targets %}
                    <option value="{{ tgs.nodeID }}">{{ tgs.visibleName }}</option>
                  {% endfor %}
                  <option value="NULL">HOME!</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-new-window"></span>&nbsp;&nbsp;Move</button>
            </form>
          </td></tr>
          <tr><td><strong>Download:</strong></td><td>
            <form role="form" class="form-inline">
              <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</button>
            </form>
          </td></tr>         
          <tr><td><strong>Delete:</strong></td><td>
            <form role="form" action="{% url 'delete' %}" method="POST" class="form-inline">
              {% csrf_token %}
              <input type="hidden" name="node_ID" value="{{ fnode.nodeID }}" />
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</button>
            </form>
          </td></tr>
          <tr><td><strong>Access Controls:</strong></td><td>
            <form role="form">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Share</button>
            </form>
          </td></tr>
        </table>
    {% endblock %}
