{% extends "base.html" %}

{% block content %}

{% include "breadcrumbs.html" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upload:</h3>
  </div>
  <div class="panel-body">
    <form role="form" class="form form-inline" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% if directory %}
        <input type="hidden" name="parent" value="{{ directory.nodeID }}" />
      {% else %}
        <input type="hidden" name="parent" value="NULL" />
      {% endif %}
      <div class="form-group">
        <input type="file" name="files" multiple>
      </div>
      <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload</button>
    </form>
  </div>
</div>

{% if directory %}
<h3>{{ directory.visibleName }}</h3>
{% else %}
<h3>Home</h3>
{% endif %}

<div class="list-group">
  {% for subdir in subdirs %}
    <a href="{% url 'browse' subdir.nodeID %}" class="list-group-item">
      <h4 class="list-group-item-heading">
        <span class="glyphicon glyphicon-folder-close"></span>
        {{ subdir.visibleName }}
      </h4>
    </a>
  {% endfor %}
  {% for fnode in files %}
    <a href="{% url 'browse' fnode.nodeID %}" class="list-group-item">
      <h4 class="list-group-item-heading">
        <span class="glyphicon glyphicon-file"></span>
        {{ fnode.visibleName }}
      </h4>
    </a>
  {% endfor %}
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Directory Actions:</h3>
  </div>
  <div class="panel-body">
    <form role="form" class="form form-inline" action="{% url 'mkdir' %}" method="POST">
      {% csrf_token %}
      {% if directory %}
        <input type="hidden" name="parent" value="{{ directory.nodeID }}" />
      {% else %}
        <input type="hidden" name="parent" value="NULL" />
      {% endif %}
      <label for="mkdir_form">New Sub-Directory:</label>
      <div class="input-group">
        <input type="text" class="form-control" name="dir_name" placeholder="Untitled Directory"/>
        <span class="input-group-btn">
          <button class="btn btn-primary" id="mkdir_form" type="submit">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Mkdir
          </button>
        </span>
      </div>
    </form>
    <br />
    {% if directory %}
      <form role="form" class="form form-inline" action="{% url 'rename' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="node_ID" value="{{ directory.nodeID }}" />
        <label for="mkdir_form">Rename Current Directory:</label>
        <div class="input-group" id="mkdir_form">
          <input type="text" class="form-control" name="new_name" placeholder="{{ directory.visibleName }}"/>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Rename
            </button>
          </span>
        </div>
      </form>
    <br />
    {% endif %}
    {% if directory %}
      <form role="form" class="form form-inline" action="{% url 'move' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="node_ID" value="{{ directory.nodeID }}" />
        <label for="mv_form">Move Current Directory:</label>
        <div class="form-group" id="mv_form">
          <select class="form-control" name="target_ID">
            {% for tgs in move_targets %}
              <option value="{{ tgs.nodeID }}">{{ tgs.visibleName }}</option>
            {% endfor %}
            <option value="NULL">HOME!</option>
          </select>
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-new-window"></span>&nbsp;&nbsp;Move
          </button>
        </div>
      </form>
    <br />
    {% endif %}
    {% if directory %}
    <form role="form" class="form form-inline" action="{% url 'delete' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="node_ID" value="{{ directory.nodeID }}" />
      <div class="form-group">
        <label for="rmdir_form">Delete Current Directory:</label>
        <div class="input-group" id="rmdir_form">
          <button class="btn btn-danger"  type="submit">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Remove
          </button>
        </div>
        </div>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
