{% extends "base.html" %}

{% block content %}
<h1>Message</h1>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title">
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;
            Oh Noes!
          </h2>
        </div>
        <div class="panel-body">
          <p>{{ message }}</p>
          <br />
          <button type="submit" onclick="window.history.go(-1)" class="btn btn-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;
            Back
          </button>
        </div>
      </div>
{% endblock %}
